In [2]:
#Create a dictionary of student names and their ages
s= {'Afroz':22, "Thousif" :21, "Inju": 18}
s

{'Afroz': 22, 'Thousif': 21, 'Inju': 18}

In [3]:
#Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
s={'a': 1, 'b': 2, 'c': 3}
s['d']=4
s

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
#Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
s={'name': 'John', 'age': 25, 'city': 'New York'}
s.keys()

dict_keys(['name', 'age', 'city'])

In [7]:
#Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
s={'python': 3, 'java': 2, 'c++': 1}
s.values()

dict_values([3, 2, 1])

In [8]:
#Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
s={'name': 'Alice', 'age': 30, 'city': 'London'}
if "age" in s:
    print("exist")
else:
    print("Not exist")

exist

In [9]:
#Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
s={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
s.pop("temp")
s

{'a': 1, 'b': 2, 'c': 4}

In [10]:
#Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
s={'math': 85, 'science': 92, 'english': 78}
a=sum(s.values())
a

255

In [11]:
#Create a dictionary with squares of numbers 1 to 5
s={a:a**2 for a in range(1,6)}
s

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [14]:
#Count frequency of each character in string 'hello'
s="hello"
a={}
for i in s:
    if i in a:
        a[i]+=1
    else:
        a[i]=1
print(a)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [15]:
# Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
s={'a':1,'b':2}
a={'c': 3, 'd': 4}
s.update(a)
s

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
#Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
s={'person': {'name': 'Alice', 'age': 25}}
s

{'person': {'name': 'Alice', 'age': 25}}

In [17]:
#Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
s={'person': {'name': 'Alice', 'age': 25}}
s['person']['name']

'Alice'

In [18]:
#Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
d={'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
d

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [22]:
# Add 'orange' to the 'fruits' list in nested dictionary
d['fruits'].append('orange')
d

{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

In [24]:
# Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
s={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
s

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [27]:
#Extract first coordinate from nested tuple
s["coordinates"][0]

10

In [1]:
#Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
s={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
s

{'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [4]:
# Add 'o' to vowels set in nested dictionary
s={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
s['vowels'].add('o')
s

{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'b', 'c', 'd'}}

In [12]:
#Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
s={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
s

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [16]:
#Access employee name from 3-level nested dictionary
s['company']['department']['employee']['name']

'John'

In [17]:
#Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
s={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
s

{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [25]:
#Check data type of each value in mixed dictionary
s={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
for i,j in s.items():
    print(f"Type:{type(j)}")

Type:<class 'int'>
Type:<class 'float'>
Type:<class 'str'>
Type:<class 'bool'>

In [27]:
#Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
s={'len': len('len'), 'str': str, 'int': int}
s

{'len': 3, 'str': str, 'int': int}

In [28]:
#Apply each function to '123' using dictionary

In [36]:
# Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
s={'double': lambda x: x*2, 'square': lambda x: x**2}
a=3
print("double:",s["double"](a))
print("square:",s["square"](a))

double: 6
square: 9

In [44]:
# Apply each lambda function to 5
for i,j in s.items():
    r=j(a)
    print(r)

6
9

In [45]:
#Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
s={'list': list, 'dict': dict, 'set': set}
s

{'list': list, 'dict': dict, 'set': set}

In [46]:
#Create instances using class dictionary

In [47]:
#Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
s={'a': None, 'b': None, 'c': None}
s

{'a': None, 'b': None, 'c': None}

In [53]:
# Replace all None values with 0
a={i: 0 if j is None else j for i,j in s.items()}
a

{'a': 0, 'b': 0, 'c': 0}

In [54]:
#Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
s={'is_active': True, 'is_admin': False}
s

{'is_active': True, 'is_admin': False}

In [56]:
#Count True values in boolean dictionary
c=0
for i in s.values():
    if i is True:
        c+=1
print(c)

1

In [57]:
#Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
s={'z1': 3+4j, 'z2': 1+2j}
s

{'z1': (3+4j), 'z2': (1+2j)}

In [58]:
#Find magnitude of each complex number
for i in s.values():
    m=abs(i)
    print(m)

5.0
2.23606797749979

In [59]:
#Create a 4-level nested dictionary
s={'clg':{'department':{'section':{'row':{'first':2}}}}}
s

{'clg': {'department': {'section': {'row': {'first': 2}}}}}

In [60]:
s['clg']['department']['section']['row']['first']

2

In [75]:
# Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
s={'r1': range(3), 'r2': range(5)}
s

{'r1': range(0, 3), 'r2': range(0, 5)}

In [74]:
# Convert each range to list
print({k: list(v) for k, v in rang.items()})

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [77]:
#Create a dictionary with generator values
s={'a':(i for i in range(3)),'b':(j*2 for j in range(5))}
for n,g in s.items():
    print(f"{n}:",list(g))

a: [0, 1, 2]
b: [0, 2, 4, 6, 8]

In [78]:
# Convert each generator to list
def convert_list(c):
    for key in c:
        c[key] = list(c[key])
    return c
s={'a':(i for i in range(3)),'b':(j*2 for j in range(5))}
converted=convert_list(s)
print(converted)

{'a': [0, 1, 2], 'b': [0, 2, 4, 6, 8]}

In [79]:
#Create a dictionary with iterator values
s= {'i1': iter([1, 2, 3, 4]),'i2': iter('abcde')}
for i,j in s.items():
    print(f"{i}: ", list(j))

i1:  [1, 2, 3, 4]
i2:  ['a', 'b', 'c', 'd', 'e']

In [80]:
#Extract all elements from each iterator
s= {'i1': iter([1, 2, 3, 4]),'i2': iter('abcde')}
for key in s:
    s[key]=list(s[key])
print(s)

{'i1': [1, 2, 3, 4], 'i2': ['a', 'b', 'c', 'd', 'e']}

In [81]:
#Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
s={'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
s

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [83]:
#Find sum of each nested list
sum(s.values())

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [8]:
#Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
s={'config': {'db': {'host': 'localhost', 'port': 5432}}}
s

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [9]:
#Access database port from nested configuration
s['config']['db']['port']

5432

In [10]:
#Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
s={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
s

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [11]:
#Extract first point coordinates
s['points'][0]

(1, 2)

In [13]:
#Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
n= {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
n
#because sets are unhashable

TypeError: unhashable type: 'set'