In [1]:
#Create a list of first 10 square numbers
l=[i**2 for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s=0
for i in l:
    s+=i
print(s)

55

In [3]:
#Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s= [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print(list(set(s)))

[1, 2, 3, 4, 5, 6, 7]

In [20]:
#Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
s = [64, 34, 25, 12, 22, 11, 90]
a=s.sort(reverse=True)
print(s)

[90, 64, 34, 25, 22, 12, 11]

In [21]:
#Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
s=[15, 23, 31, 42, 56, 78, 91]
print(sum(s)//len(s))

48

In [27]:
#Create a list of first 15 Fibonacci numbers
a=13
s=[0,1]
for i in range(0,a):
    f=s[-2] + s[-1]
    s.append(f)
print(s)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [28]:
#or
a=13
s=[0,1]
[s.append(s[-2] + s[-1]) for i in range(0,a)]
print(s)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [29]:
#Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
s=[1, 5, 2, 5, 3, 5, 4, 5, 6]
print(s.count(5))

4

In [30]:
#Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
s=[45, 67, 23, 89, 12, 34, 78]
a=s.sort()
print(s[-2])

78

In [31]:
#Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s.reverse()
s

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
#or
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=s[::-1]
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
#or
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=[]
for i in s:
    a.insert(0,i)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
#Create a list of prime numbers between 1 and 50
a=1
b=51
c=[]
for i in range(a,b):
    if i>1:
        for j in range(2,i):
            if i%j==0:
               break
        else:
            c.append(i)
print(c)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [1]:
#Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l=[]
for i in s:
    l.extend(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
#Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
s=[1,2,3,4,5]
l=[4,5,6,7,8]
v=[]
for i in s:
    for j in l:
        if i==j:
            v.append(i)
print(v)

[4, 5]

In [1]:
#Create a list of lists: [[1, 2], [3, 4], [5, 6]]
s=[[1, 2], [3, 4], [5, 6]]
print(s)

[[1, 2], [3, 4], [5, 6]]

In [4]:
#Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l=[sum(i) for i in s]
print(l)

[6, 15, 24]

In [12]:
#Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l=[i for i in zip(*s)]
print(l)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [11]:
#Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
s=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
l=list(map(max,s))
print(l)

[5, 9, 8]

In [2]:
#Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
s=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(s)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [7]:
#Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
s=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(s)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [6]:
#Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
s=[[[1,2],[3,4]],[[5,6],[7,8]]]
total = 0

for block in s:        
    for sub in block:     
        for num in sub:  
            total += num

print(total)

36

In [38]:
#Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l=[]
for i in s:
    for j in i:
        if j%2==0:
            l.append(j)
print(l)

[2, 4, 6, 8]

In [8]:
#Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
s= [1, 'hello', 3.14, True, [1, 2, 3]]
print(s)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [10]:
#Find the length of each string in ["apple", "banana", "cherry", "date"]
s=["apple", "banana", "cherry", "date"]
for i in s:
    print(len(i),end=" ")

5 6 6 4

In [11]:
#Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
s=[(1, 'a'), (2, 'b'), (3, 'c')]
print(s)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [19]:
#Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
s= [(1, 'a'), (2, 'b'), (3, 'c')]
a=[]
for i in s:
    a.append(i[0])
print(a)

[1, 2, 3]

In [20]:
# Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
s=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(s)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [21]:
#Extract all 'name' values from list of dictionaries [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
s=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
t=[]
for i in s:
    t.append(i["name"])
print(t)

['Alice', 'Bob']

In [25]:
#Find the person with maximum age in list of dictionaries [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
s=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
ma = s[0]['age']
p = s[0]['name']
for i in s:
    if i['age'] > ma:
        ma = i['age']
        p= i['name']
print("Person with max age:", p)

Person with max age: Bob

In [26]:
#Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
s=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(s)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [34]:
#Find the maximum value in 4D list [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
s=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
l=list(map(max,s))
v=list(map(max,l))
a=list(map(max,v))
b=a[1]
print(b)

16

In [36]:
#or
s= [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
        [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]


m = s[0][0][0][0]  

for i in s:
    for j in i:
        for k in j:
            for l in k:
                if l>m:
                    m = l

print("Maximum value:", m)

Maximum value: 16

In [37]:
#Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
s=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(s)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [43]:
#Find the union of all sets in list of sets
s=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
t=set()
for i in s:
    t=t.union(i)
print(list(t))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
#Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
s=[1+2j, 3+4j, 5+6j]
print(s)

[(1+2j), (3+4j), (5+6j)]

In [50]:
#Find the magnitude of each complex number in list
s=[1+2j, 3+4j, 5+6j]
t=[]
for i in s:
    m=abs(i)
    t.append(m)
print(t)

[2.23606797749979, 5.0, 7.810249675906654]

In [51]:
#or
s=s=[1+2j, 3+4j, 5+6j]
m=[abs(i) for i in s]
print(m)

[2.23606797749979, 5.0, 7.810249675906654]

In [53]:
#Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
s=[1, [2, 3], [4, [5, 6]], 7]
print(s)

[1, [2, 3], [4, [5, 6]], 7]

In [56]:
#Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
s=[1, [2, 3], [4, [5, 6]], 7]
m=1
for i in s:
    if isinstance(i,list):
        depth=1+s()
        m=max(m,depth)
print(m)

TypeError: 'list' object is not callable

In [57]:
#Create a list of functions: [len, str, int, float]
s=[len, str, int, float]
print(s)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [59]:
# Apply each function in list to string '123'
s=[len, str, int, float]
a="123"
b=[i(a) for i in s]
print(b)

[3, '123', 123, 123.0]

In [60]:
#Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
s=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
print(s)

[<function <lambda> at 0x000002652B9C9580>, <function <lambda> at 0x000002652B9CA200>, <function <lambda> at 0x000002652B9C82C0>]

In [61]:
#Apply each lambda function to 5
s=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
t=[i(5) for i in s]
print(t)

[10, 25, 6]

In [62]:
#Create a list of classes: [list, dict, set, tuple]
s=[list, dict, set, tuple]
print(s)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [63]:
#Create a list of None values: [None, None, None, None]
s=[None, None, None, None]
print(s)

[None, None, None, None]

In [64]:
#Replace all None values with 0 in list
s=[None, None, None, None]
t=[0 if i is None else i for i in s]
print(t)

[0, 0, 0, 0]

In [65]:
#Create a list of boolean values: [True, False, True, False]
s=[True, False, True, False]
print(s)

[True, False, True, False]

In [67]:
#Count True values in boolean list
s=[True, False, True, False]
t=sum(s)
print(t)

2

In [68]:
#Create a list of ranges: [range(3), range(5), range(2)]
s=[range(3), range(5), range(2)]
print(s)

[range(0, 3), range(0, 5), range(0, 2)]

In [69]:
#Convert each range to list
s=[range(3), range(5), range(2)]
t=[list(i) for i in s]
print(t)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [71]:
#Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
s=[(x for x in range(3)), (x for x in range(5))]
for i in s:
    print(list(i))

[0, 1, 2]
[0, 1, 2, 3, 4]

In [73]:
#Convert each generator to list
s=[(x for x in range(3)), (x for x in range(5))]
t=[]
for i in s:
    a=list(i)
    t.append(a)
print(t)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [74]:
#Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
s=[iter([1, 2, 3]), iter([4, 5, 6])]
for i in s:
    print(list(i))

[1, 2, 3]
[4, 5, 6]

In [81]:
#Extract all elements from each iterator
s=[iter([1, 2, 3]), iter([4, 5, 6])]
t=[list(i) for i in s]
print(t)

[[1, 2, 3], [4, 5, 6]]