In [1]:
#Create a tuple of first 10 natural numbers
print(tuple(range(1,11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(a))

10

In [3]:
# Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
a= ('a', 'b', 'c', 'd', 'e')
print(a[2])

c

In [4]:
#Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
s=(23, 45, 12, 67, 34, 89, 56)
print(max(s))

89

In [5]:
#Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
s=(1, 5, 2, 5, 3, 5, 4, 5, 6)
print(s.count(5))

4

In [10]:
#Create a tuple of mixed data types (integer, float, string, boolean)
s=(1,3.2,"abc",True)
print(s)

(1, 3.2, 'abc', True)

In [11]:
#Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
s=('java', 'python', 'c++', 'javascript')
print(s.index("python"))

1

In [13]:
#Check if 25 exists in tuple (10, 20, 30, 40, 50)
s=(10,20,30,40,50)
for i in s:
    if i==25:
        print("true")
    else:
        print("does not exist")
        break

does not exist

In [17]:
#Create a tuple of first 5 even numbers
print((2,4,6,8,10))

(2, 4, 6, 8, 10)

In [18]:
#or
s=tuple(range(2,11,2))
print(s)

(2, 4, 6, 8, 10)

In [19]:
#or
s=tuple([2*i for i in range(1,6)])
print(s)

(2, 4, 6, 8, 10)

In [20]:
#Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
s=(15, 23, 31, 42, 56, 78)
print(sum(s)//len(s))

40